/* Core ---------------------------------------------------------------*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

@font-face {
  font-family: 'panton-bold';
  src: url(../fonts/Panton-Bold.otf) format('opentype');
}


html,
body {
  -webkit-overflow-scrolling: touch !important;

  
}

a {
  text-decoration: none;
  color: white;
  
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  margin: 0;
  --color-text: black;
  color: var(--color-text);
  background-color: #26314E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  font-family: panton-bold;
  display: block;
  height: 100%;
  width: 100%;


}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: transparent url("./images/desktopSZA.png") no-repeat; */
  /* background-position: top left; /* First value is from left and second is from top. You can use use number as well*/
  background-repeat: no-repeat;
  z-index: 101;
  transition: transform 500ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

#sza-gif {
  transform: translateX(110vw) translateY(100px);
  transition: transform 3s ease;
  will-change: transform;
  width: 70vw;
    left: 45%;
    bottom: 40%;
}

#sza-gif.centered-bg {
  transform: translateX(0) translateY(0);

}


#bg img {
  display: block;
  position: absolute;
  right: 0;
}


@media screen and (max-width: 1024px) {
  #bg {

    /* background: transparent url("./images/mobileSZA.png") no-repeat; */
  }

  #sza-gif {
    transform: translateX(60vw) translateY(80px);
    width: 100%;
    left: 40vw;
    bottom: 50%;
  }


}

@media screen and (max-width: 768px) {
  #sza-gif {
    transform: translateX(60vw) translateY(80px);
    width: 150%;
    left: 40vw;
    bottom: 50%;
  }
}


@media screen and (max-width: 576px) {
  #sza-gif {
    transform: translateX(60vw) translateY(80px);
    width: 150%;
    left: 40vw;
    bottom: 56%;
  }
}
#water-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent url("../images/background.jpg") 0 0 repeat;
  z-index: 99;
  transition: transform 500ms ease-in-out;
}



#water-ripples-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

#water-ripples-title h1 {
  color: white;
  font-size: 8.5vw;
  margin: 0;
  opacity: 0;
}




/* @media screen and (max-height: 576px) {
    
} */

/* grid-breakpoints
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1480px,
  xxxl: 1800px */



/* sm */



.loader-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(43, 50, 76, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.2s 2000ms;
  opacity: 1;
}

.loader-off {
  opacity: 0;
  pointer-events: none;
}

.loader-wrapper .inner {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}



.loader-wrapper .inner .enter {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 1em;
  z-index: 201;
  
  bottom: 3em;
 

}

.loader-wrapper .inner p {
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: bold;
}

.line {
  width: 2.5em;
  height: 0.2em;
  background-color: white;

  border-radius: 0%;



}


.scarmble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
}

.circle {
  width: 10px;
  background-color: white;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
}

@media (max-width: 576px) {
  .circle {
    width: 8px;
    height: 8px;
  }
}

.morse1 {
  animation: pulse-animation 1s forwards;
  animation-delay: 100ms;
  opacity: 1;

}



.morse2 {
  animation: pulse-animation 1s forwards;
  animation-delay: 200ms;
  opacity: 1;

}

.morse3 {
  animation: pulse-animation 1s forwards;
  animation-delay: 300ms;
  opacity: 1;


}

.morse4 {
  animation: pulse-animation2 1s;
  animation-delay: 500ms;


}

.morse5 {
  animation: pulse-animation2 1s;
  animation-delay: 800ms;


}

.morse6 {
  animation: pulse-animation2 1s;
  animation-delay: 1100ms;


}

.morse7 {
  animation: pulse-animation 1s forwards;
  animation-delay: 1300ms;
  opacity: 1;


}

.morse8 {
  animation: pulse-animation 1s forwards;
  animation-delay: 1400ms;
  opacity: 1;


}

.morse9 {
  animation: pulse-animation 1s forwards;
  animation-delay: 1500ms;
  opacity: 1;
}



@media (max-width: 480px) {
  .morse1 {
    animation: pulse-animation-mobile 1s forwards;
    animation-delay: 100ms;
    opacity: 1;

  }



  .morse2 {
    animation: pulse-animation-mobile 1s forwards;
    animation-delay: 200ms;
    opacity: 1;

  }

  .morse3 {
    animation: pulse-animation-mobile 1s forwards;
    animation-delay: 300ms;
    opacity: 1;


  }

  .morse4 {
    animation: pulse-animation2-mobile 1s;
    animation-delay: 500ms;


  }

  .morse5 {
    animation: pulse-animation2-mobile 1s;
    animation-delay: 800ms;


  }

  .morse6 {
    animation: pulse-animation2-mobile 1s;
    animation-delay: 1100ms;


  }

  .morse7 {
    animation: pulse-animation2-mobile 1s forwards;
    animation-delay: 1300ms;
    opacity: 1;


  }

  .morse8 {
    animation: pulse-animation2-mobile 1s forwards;
    animation-delay: 1400ms;
    opacity: 1;


  }

  .morse9 {
    animation: pulse-animation2-mobile 1s forwards;
    animation-delay: 1500ms;
    opacity: 1;
  }

}

.letters {
  text-align: left;
  margin: 0 1.9em;



  /* @media (max-width: $screen-md) {
    margin: 0 1em;
  }

  @media (max-width: $screen-phone) {
    margin: 0 0.8em;
  } */
}

@media (max-width: 1024px) {
  .letters {
    margin: 0 1em;
  }
}

@media (max-width: 576px) {
  .letters {
    margin: 0 0.7em;
  }

}



.letters2 {
  text-align: left;
  margin: 0 1em;

}

@media (max-width: 1024px) {
  .letters2 {
    margin: 0 0.6em;
  }

}


@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
    opacity: 1;
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    opacity: 0;

  }
}

@keyframes pulse-animation-mobile {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
    opacity: 1;
  }

  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    opacity: 0;
  }
}



@keyframes pulse-animation2 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);

  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);

  }
}

@keyframes pulse-animation2-mobile {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);

  }

  100% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);

  }
}

.title-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  /* background-color: rgba(43, 50, 76, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 102;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.2s 2000ms, top 1s 0s, transform 500ms ease-in-out;
  opacity: 1;
}


.title-wrapper-animate {
  transform: translateY(-370px);
}

@media screen and (max-width: 1024px) {
  .title-wrapper-animate {
    transform: translateY(-300px);
  }
}

.animate-down {
  top: 8.5em;

}

@media screen and (max-width: 1024px) {
  .animate-down {

    top: 1.5em !important;
  }
}

@media screen and (max-width: 576px) {
  .animate-down {

    top: -2em !important;
  }
}

.title-wrapper .inner {
  display: flex;
  flex-direction: column;

}




.title-wrapper .enter {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 2em; */
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 1em;
  bottom: 1em;
  z-index: 201;

}

.scramble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
}

.title-wrapper p {
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  line-height: 1;
  margin: 0;
}

.title-wrapper p span {
  transform: translate(0, 100%);
}

@media (max-width: 1024px) {
  .title-wrapper p {
    font-size: 22px;
  }

}

@media (max-width: 576px) {
  .title-wrapper p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .title-wrapper p {
    font-size: 12px;
  }

}





.title-wrapper p .show-span {
  display: block;
  transform: translate(0, 100%);
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 2000ms forwards;
}



.title {
  display: flex;
  align-items: center;

}

.sos {
  display: flex;
  align-items: center;

}




@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 0);
  }
}

.preSave-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  flex-direction: column;
  gap: 1.2em;
  display: none;
  opacity: 0;
}

@media (max-width: 1024px) {
  .preSave-wrapper {
    margin-top: 4em;
    gap: 0.8em;
  }
}

/* @media screen and (max-width: 480px) {
  .preSave-wrapper {
    margin-top: 6em;
  }
} */




.preSave-show {
  opacity: 1;
  display: flex;
}

.apple-form-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  flex-direction: column;
  gap: 0.5em;
  opacity: 0;
  display: none;
}



.apple-form-show {
  opacity: 1;
  display: flex;
}

.apple-form-wrapper input {
  outline: none !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 40px;
  width: 100%;
  max-width: 30em;
  color: white;
  border-radius: 100px !important;
  margin: 0 auto;
  text-align: center;

}

@media (max-width: 480px) {
  .apple-form-wrapper input {
    padding: 6px 30px;
  }
}


.apple-form-wrapper input::placeholder {
  color: white;
  opacity: 0.5;
}

.apple-form-wrapper {
  width: 100%;
  text-align: center;
}

.apple-form-wrapper label {
  display: none;
}

#apple-presave-back {
  display: block;
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.apple-form-wrapper button {
  background-color: white;
  color: white;
  padding: 8px 11px;
  cursor: pointer;
  border: none;
  margin: 0.8em auto;
  width: 100%;
  max-width: 12em;
  text-align: center;
  border-radius: 100px;
  color: black;

}


@media (max-width: 480px) {
  .apple-form-wrapper button {
    padding: 6px 8px;
    max-width: 12em;
  }

}

#apple-success {
  color: white;
  margin: 0;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: none;
  margin-bottom: 0.5em;
}

#apple-error {
  color: red;
  margin: 0;
  padding: 0em;
  padding-top: 0.5em;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: none;
  margin-bottom: 0.5em;

}



.preSave-btn-container {
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}


.pre-save-btn {
  margin: 0 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  background: none;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  padding: 8px 28px;
  font-size: 18px;
  width: auto;
  cursor: pointer;
  outline: none;
  /* height: 2em; */
  opacity: 1;
  transition: opacity 1s 2800ms;
}

.listen {
  text-align: center;
  color: white;
  width: 100%;
  max-width: 580px;
  padding: 0 4vw;
  margin: 0 auto;
  margin-top: 1em;
  left: 0;
  right: 0;
  font-size: 20px !important;
  transition: opacity 1s 2800ms;
  font-weight: normal !important;
  justify-content: center;
  /* text-transform: capitalize; */
}

.listen.hidden {
  opacity: 0;
}

@media (max-width: 1024px) {

  .listen {
    max-width: 420px;
    font-size: 16px !important;
  }
}

@media (max-width: 576px) {
  .listen {
    max-width: 420px;
    font-size: 12px !important;
  }
}



@media (max-width: 1024px) {
  .pre-save-btn {
    font-size: 14px;
    padding: 8px 10px;
    margin-top: 0px;
  }

}

.pre-save-btn.hidden {
  opacity: 0;
}

.pre-save-btn svg {
  width: 1.5em;
  height: 1.5em;
}

#apple-icon {
  margin-bottom: 0.3em;
}

.enter {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 1em;
  bottom: 1em;
  z-index: 201;
}


.enter .btn {
  background-color: transparent;
  color: white;
  border: none;
  /* letter-spacing: 15px; */
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  padding: 8px 11px;
  cursor: pointer;
  border: none;
  margin: 0.8em auto;
  width: 100%;
  max-width: 10em;
  text-align: center;
  border-radius: 100px;
  color: black !important;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}


.menu-toggle {
  font-size: 0.875em;
  padding: 1em;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 201;
  left: 2em;
  transition: left 500ms ease-in-out, opacity 1s 2.5s;
  -webkit-transition: left 500ms ease-in-out, opacity 1s 2.5s;
  -moz-transition: left 500ms ease-in-out, opacity 1s 2.5s;
  -o-transition: left 500ms ease-in-out, opacity 1s 2.5s;
  -ms-transition: left 500ms ease-in-out, opacity 1s 2.5s;
  z-index: 98;
}

button,
input[type="button"] {
  border: none;
  border-radius: 0;
  background: transparent;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 1em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.menu-toggle-inner {
  font-size: 0.875em;
  padding: 1em;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 201;
  left: 0.5em;
  top: 2em;
  transition: left 500ms ease-in-out, opacity 1s 2.5s;
  -webkit-transition: left 500ms ease-in-out, opacity 1s 2.5s;
  -moz-transition: left 500ms ease-in-out, opacity 1s 2.5s;
  -o-transition: left 500ms ease-in-out, opacity 1s 2.5s;
  -ms-transition: left 500ms ease-in-out, opacity 1s 2.5s;
  z-index: 101;
  display: none;
  cursor: pointer;

}

.menu-toggle.opened {
  left: 26em;

}

.icon {
  display: inline-block;
  fill: white;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  position: relative;
  /* Align more nicely with capital letters */
  top: -0.0625em;
}

/* Menu toggle styles. */

.icon-menu-toggle {
  width: 2em;
  height: 2em;
  top: 0;
}


/* Animate menu icon (lines). */
.svg-menu-toggle .line {
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
  transform-origin: 1em 1em;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.svg-menu-toggle .line-1 {
  transform-origin: 1em 2.5em;
}

.svg-menu-toggle .line-3 {
  transform-origin: 1em 4.5em;
}

.menu-toggle.opened .svg-menu-toggle .line-1 {
  transform: rotate(45deg) translateY(0) translateX(0);
}

.menu-toggle.opened .svg-menu-toggle .line-2 {
  opacity: 0;
}

.menu-toggle.opened .svg-menu-toggle .line-3 {
  transform: rotate(-45deg) translateY(0em) translateX(0em);
}

.menu-toggle-inner.opened .svg-menu-toggle .line-1 {
  transform: rotate(45deg) translateY(0) translateX(0);
}

.menu-toggle-inner.opened .svg-menu-toggle .line-2 {
  opacity: 0;
}

.menu-toggle-inner.opened .svg-menu-toggle .line-3 {
  transform: rotate(-45deg) translateY(0em) translateX(0em);
}

.footer-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  bottom: 0;
  z-index: 105;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s 0s, transform 500ms ease-in-out, pointer-events 1s 0s;
  cursor: pointer;
}





@media screen and (max-width: 480px) {
  .footer-btn {
    padding: 1rem;
  }
}

#toggle-svg-footer {
  transform: rotate(0deg);
  transition: transform .5s ease;
  will-change: transform;
  cursor: pointer;

}

#toggle-svg-footer svg {
  width: 1.5em;
  height: 1.5em;
}

@media screen and (max-width: 480px) {
  #toggle-svg-footer svg {
    width: 1.5em;
    height: 1.5em;
  }
}

.footer {
  width: 100%;
  background-color: transparent;
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s 2800ms;
  z-index: 200;
  opacity: 1;
}

.footer.hidden {
  opacity: 0;
}

.footer .inner {
  width: 100%;
  padding: 1em 2vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .footer .inner {
    gap: 0.5em;
    flex-direction: column;
  }
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  transition: opacity 1s 2800ms;

}

.icon-wrapper.hidden {
  opacity: 0;

}

@media (max-width: 1024px) {
  .icon-wrapper {
    gap: 0.6em;
  }
}

.icon-wrapper svg {
  width: 2.1em;
  height: 2.1em;
  opacity: 1;
}


@media (max-width: 1024px) {
  .icon-wrapper svg {
    width: 1.6em;
    height: 1.6em;
  }
}

.icon-wrapper #tde-svg {
  width: 3em;
  height: 3em;
}

@media (max-width: 1024px) {
  .icon-wrapper #tde-svg {
    width: 2.5em;
    height: 2.5em;
  }
}


.newsletter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}

.newsletter-wrapper p {
  color: white;
  font-size: 12px;
}

.newsletterinput-wrapper {
  display: -webkit-flex;
  display: flex;
  justify-content: right;
  -webkit-justify-content: right;
  gap: 0.2em;
  width: 100%;


}



@media (max-width: 576px) {
  .newsletterinput-wrapper {
     text-align: center;
     justify-content: center;
     flex-direction: column;
   }
 }

 

.newsletterinput-wrapper form {
  width: 100%;
}

#sza-newsletter input::placeholder {
  color: white;
  opacity: 1;
}

#newsletter-success {
  color: white;
  margin: 0;
  padding: 0.5em 0em;
  display: none;
  text-align: right;
}

@media (max-width: 576px) {
  #newsletter-success {
     text-align: center;
   }
 }

#newsletter-error {
  color: red;
  margin: 0;
  padding: 0em;
  padding-top: 0.5em;
  font-size: 12px;
  text-align: right;
  display: none;
}

@media (max-width: 576px) {
  #newsletter-error {
     text-align: center;
   }
 }

#sza-newsletter label {
  display: none;
}

#sza-newsletter input {
  outline: none !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 10px;
  width: 100%;
  max-width: 20em;
  color: white;
  border-radius: 100px !important;
  text-align: left;
  
}

@media (max-width: 576px) {
  #sza-newsletter input {
     margin: 0 auto
   }
 }

@media (max-width: 576px) {
  #sza-newsletter input {
    text-align: center;
  }
}

@media (max-width: 480px) {
  #sza-newsletter input {
    padding: 6px 8px;
  }
}

#sza-newsletter input::placeholder {
  color: white;
  opacity: 0.8;
}

#sza-newsletter {
  width: 100%;
  text-align: center;
}

#sza-newsletter button {
  background-color: white;
  color: black;
  padding: 8px 11px;
  cursor: pointer;
  border: none;
  width: 100%;
  max-width: 8em;
  text-align: center;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 576px) {
  #sza-newsletter button {
     margin: 0 auto;
     max-width: 10em;
   }
 }

@media (max-width: 480px) {
  #sza-newsletter input {
    padding: 6px 8px;
  }

}



#copy {
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 1em;
  font-size: 10px;
  text-align: left;
  margin-left: 0;
  opacity: 0.5;
}

@media (max-width: 576px) {
  #copy {
    text-align: center;
    margin: 0 auto;
    order: 1;
  }
}

.campaign-footer {
  width: 100%;
  padding-top: .8rem;
  padding-bottom: .5rem;
  font-size: .7rem;
  text-align: center;
  font-size: 10px;
  z-index: 99;
  color: white;
  opacity: 0.5;
  transition: opacity 1s 2800ms;
  padding-bottom: 0em;
}


.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.container-fluid a {
  margin: 0 0.3em;
  text-decoration: none;
  text-align: center;
  color: white !important;
  width: 100%;
  margin-top: 1em;
  left: 0;
  right: 0;
  font-size: 12px !important;
  font-weight: normal !important;
}

@media (max-width: 1024px) {
  .container-fluid a {
    max-width: 420px;
    font-size: 10px !important;
  }
}

.campaign-footer.hidden {
  opacity: 0;
  pointer-events: none;
}

.thankyou{
  text-align: center;
  color: white;
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  flex-direction: column;
  gap: 0.5em;
  transition: opacity 1s 0s;
  font-size: 20px;
  pointer-events: none;
}


@media (max-width: 480px) {
  .thankyou{
    font-size: 16px;
  }

}

#footer-links{
  text-align: right;
}

@media (max-width: 576px) {
  #footer-links{
    text-align: center;
  }
  
}

.header{
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: opacity 1s 2800ms;
  z-index: 401;
  opacity: 1;
  pointer-events: all;
}

.header .inner{
  padding: 1em 4vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.hidden{
  pointer-events: none;
  opacity: 0;
}

nav{
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 576px) {
  nav {
    max-width: 250px;
  }
}

.nav1 li {
  text-align: center;
  color: white;
  padding: 0 1em;
  margin: 0 auto;
  margin-top: 1em;
  left: 0;
  right: 0;
  font-size: 20px !important;
  transition: opacity 1s 2800ms;
  font-weight: normal !important;
  justify-content: center;
  display: inline-block;
  text-transform: uppercase;
  /* text-transform: capitalize; */
}

.nav2 li {
  text-align: center;
  color: white;
  padding: 0 1em;
  margin: 0 auto;
  margin-top: 1em;
  left: 0;
  right: 0;
  font-size: 20px !important;
  
  font-weight: normal !important;
  justify-content: center;
  display: inline-block;
  text-transform: uppercase;
  /* text-transform: capitalize; */
}



.nav1 li a:hover{
  color: white;
}

.nav2 li a:hover{
  color: white;
}

.underline{
  display: block;
  margin: 3px auto auto;
  height: 3px;
  width: 85%;
  background: rgb(255, 255, 255);
  transform: scale(1.1) rotate(0deg);
  opacity: 1;
  
}

@media (max-width: 1024px) {

  .nav1 li {
    max-width: 420px;
    font-size: 18px !important;
  }
}

@media (max-width: 576px) {
  .nav1 li {
    max-width: 420px;
    font-size: 16px !important;
    padding: 0 0.6em;
  }
}

@media (max-width: 1024px) {

  .nav2 li {
    max-width: 420px;
    font-size: 18px !important;
  }
}

@media (max-width: 576px) {
  .nav2 li {
    max-width: 420px;
    font-size: 16px !important;
    padding: 0 0.6em;
  }
}

.video-wrapper{
  position: relative;
  z-index: 301;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}



.video-card {
  padding-bottom: 3em;
}


.embed{
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1.5rem;
  border: 2px solid white;
}
/* .embed {
  position: relative;
  height: 0;
  padding-bottom: 10em;
  margin-bottom: 2em;
} */

      iframe{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
      }


      .col{
        flex: 0 0 50.5%;
        max-width: 62.5%;
      }


      @media (max-width: 1480px) {
        .col{
          flex: 0 0 62.5%;
          max-width: 62.5%;
        }
      }

      @media (max-width: 1024px) {
        .col{
          flex: 0 0 75%;
          max-width: 75%;
        }
      }

      @media (max-width: 768px) {
        .col{
          flex: 0 0 93.75%;
          max-width: 93.75%;
        }
      }


      .tour-wrapper{
        position: relative;
        z-index: 301;
        height: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: rgba(0,0,0, 0.3);
      }



      .tourItem {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 17px 0;
        border-bottom: 1px solid rgba(130,130,130,.15);
    }
    
    .tourItem:first-of-type {
        padding-top: 0px;
    }
    
    .tourdates_info{
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
    }
    
    
    .tourdates_venuelocation{
        flex-grow: 1;
        flex-wrap: wrap;
        min-width: 10em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .tourwrapper{
        width: 100%;
        max-width: 900px;
        padding-left: 1em;
        padding-right: 1em;
        margin: 50px auto;
        margin-top: 0px;
    }
    
    /* Date */
    
    .tourItem h1,
    .tourItem h2,
    .tourItem p {
        margin: 0;
    }
    
    .tourItem h1 {
        font-size: 16px;
        min-width: 9em;
        font-weight: bold;
        white-space: nowrap;
    }
    
    .tourItem h2 {
        font-weight: normal;
        font-size: 16px;
        min-width: 50%;
        box-sizing: border-box;
        padding-right: 1em;
       
    }
    
    .tourdates__actions{
        text-align: right;
        white-space: nowrap;
    }
    
    
    .tourItem a {
        display: block;
        font-size: 16px;
        padding: 4px 8px;
        border-radius: 99px;
        cursor: pointer;
        border: none;
        width: 100%;
        text-align: center;
        background-color: white;
        color: black;
    }
    
    .otwHolder {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .merchText {
        width: 300px;
    }
    
    .otwImages {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }
    
    .otwImages img {
        margin: 0px 5px;
        height: 100px;
    }
    
    /* Mobile Styles */
    
    @media (max-width: 1024px) {
        .tourwrapper{
            width: 100%;
        }
    
    
        .tourItem {
    
            display: block;
    
        }
        
        .tourItem:first-of-type {
            padding-top: 0px;
        }
        
        .tourdates_info{
            display: block;
        }
        
        
        .tourdates_venuelocation{
            flex-grow: 1;
            flex-wrap: wrap;
            min-width: 10em;
            display: block;
        }
    
        .tourItem h1 {
            text-align: center;
            font-size: 18px;
            margin-bottom: 0.5em;
        }
        
        .tourItem h2 {
            text-align: center;
            padding-right: 0em;
            font-size: 18px; 
            margin-bottom: 0.1em;
        }
    
        .tourItem a {
            margin-top: 15px;
            font-size: 16px;
            background: red;
            padding: 6px 12px;
            border-radius: 99px;
            font-weight: bolder;
            background-color: white;
            color: black;
            display: block;
            max-width: 10em;
            margin-left: auto;
            margin-right: auto;
        }
    
        .tourdates__actions{
            
            text-align: center;
        }
        
    }
    
    
    .syd-tourdates__item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }